<div class="homeContainer">
	<a [routerLink]="['/panorama']" class="linkContainer">
		<h2 class="linkTitle">Vista panorama</h2>
		<div class="blurText">
			<p class="description">La vista panorama tiene libertad de movimiento en todas las direcciones desde un punto central. Existe la posibilidad de navegar entre panoramas y crear puntos de referencia.</p>
		</div>
		<img src="assets/img/panorama_splash.png" alt="Splash image for panorama view" class="splashImage">
	</a>
	<a [routerLink]="['/spin']" class="linkContainer">
		<h2 class="linkTitle">Vista spin</h2>
			<div class="blurText">
				<p class="description">La vista spin ubica un objeto en el centro y provee tomas desde todas las direcciones respecto a un mismo plano.</p>
			</div>
			<img src="assets/img/spin_splash.png" alt="Splash image for panorama view" class="splashImage">
	</a>
</div>