<section>
	<h1>Vista Spinner</h1>
	<div #spinner appSpinner [style.width]="(width/columns)+'px'" [style.height]="(height/rows)+'px'"
		[style.background-position]="-(width/columns*(currentColumn))
			+'px '
			+(-height/rows*(currentRow))
			+'px'" [style.background-size]="(columns*100)+'%'" class="spinImg"></div>

	<p>Sensibilidad</p>
	<div class="sensCont">
		<button class="sensbtn" (click)="changeSens(-1)">-</button>
		<input type="range" min="5" max="45" [(ngModel)]="othersensibility" (ngModelChange)="changeSensSlider($event)">
		<button class="sensbtn" (click)="changeSens(1)">+</button>
	</div>

	<div class="buttonCont">
		<div class="moveButton left" (click)="prevCol()">
			<p>{{'\<'}}</p>
		</div>
		<div class="moveButton up" (click)="prevRow()">
			<p>{{'\<'}}</p>
		</div>

		<div class="moveButton down" (click)="nextRow()">
			<p>{{'\<'}}</p>
		</div>
		<div class="moveButton right" (click)="nextCol()">
			<p>{{'\<'}}</p>
		</div>
	</div>

	<p>Made with ☕</p>
</section>