<section>
	<h1>Todo bien</h1>
	<div #spinner
		appSpinner
		[style.width]="(width/columns)+'px'"
		[style.height]="(height/rows)+'px'"
		[style.background-position]="-(width/columns*(currentColumn))
			+'px '
			+(-height/rows*(currentRow))
			+'px'"
		[style.background-size]="(columns*100)+'%'"
		class="spinImg"
	></div>

	<p>Sensibilidad</p>
	<div class="buttonCont">
		<button class="sensbtn" (click)="changeSens(-1)">-</button>
		<p>{{ sensibility }}</p>
		<button class="sensbtn" (click)="changeSens(1)">+</button>
	</div>
	
	<div class="buttonCont">
		<button (click)="prevCol()">izquierda</button>
		<p>{{ currentColumn }}</p>
		<button (click)="nextCol()">derecha</button>
	
		<button (click)="prevRow()">arriba</button>
		<p>{{ currentRow }}</p>
		<button (click)="nextRow()">abajo</button>
	</div>
	
	<p>Made with ☕</p>
</section>