section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
}

.container {
  width: 300px;
  height: 300px;
}

.spinImg {
  outline: 2px solid #0007;
  cursor: pointer;
  user-select: none;
  // object-fit: cover;
  // object-position: 200px 100px;
  background-image: url("../../../assets/img/spin_360.jpg");
  // background-image: url('https://png.pngtree.com/background/20210712/original/pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg');
  // background-attachment: fixed;
  // background-position: 0% 50%;
  // background-size: 300%;
}

.buttonCont {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  color: black;
  user-select: none;
  // outline: 2px solid blue;
  display: flex;
  transform: rotate(-45deg);
  box-shadow: 0 0 20px 1px #0003;

  .moveButton {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 100px 0 0 0;
    box-shadow: 0 0 12px 1px #00001f55 inset;
    transition: 0.05s;

    &:active {
      box-shadow: 0 0 20px 1px #00002155 inset;
    }

    p {
      transform: rotate(45deg);
    }

    &.up {
      transform: rotate(90deg);
    }

    &.down {
      transform: rotate(-90deg);
    }

    &.right {
      transform: rotate(180deg);
    }
  }
}
.sensCont {
  display: flex;
}

.sensbtn {
  width: 20px;
}
