/* You can add global styles to this file, and also import other style files */

* {
	padding: 0;
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.pnlm-scene{
	animation-name: scene-tilt;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tooltip-image {
	width: 200px;
}

@keyframes scene-tilt {
	0% {
		box-shadow: 0 0 6px 1px #0f00 ,0 0 4px 2px #fff1;
		filter: invert(.05);
	}
	100% {
		filter: invert(0);
		box-shadow: 0 0 20px 1px #0f04 ,0 0 10px 8px #fff8;
	}
}