.homeContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
	
	.linkContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: darkgray;
		border-radius: 2px;
		width: 300px;
		height: 300px;
	}
}