<div class="homeContainer">
	<a [routerLink]="['/cielo']" class="linkContainer">
		<h2 class="linkTitle">VISTA CIELO</h2>
		<img src="assets/img/cielo_splash.png" alt="Imagen Splash de la vista cielo" class="splashImage">
	</a>
	<a [routerLink]="['/la-favorita']" class="linkContainer">
		<h2 class="linkTitle">VISTA LA FAVORITA</h2>
		<img src="assets/img/favorita_splash.png" alt="Imagen Splash de La Favorita" class="splashImage">
	</a>
	<a [routerLink]="['/interior']" class="linkContainer">
		<h2 class="linkTitle">VISTA INTERIOR</h2>
		<img src="assets/img/interior_splash.png" alt="Imagen Splash de la vista interior" class="splashImage">
	</a>
</div>